.container {
    text-align: center;
}

.image-container {
    margin: 0 auto;
}

.message {
    font-size: 2rem;
    color: white;
}

.footer {
    position: fixed;
    left: 0vw;
    right: 0vw;
    bottom: 0;
    width: 100vw;
    background-color: brown;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    opacity: 0.9;
}

.upload-pane{
    margin-top:30vh;
    margin-bottom:30vh;
}

p {
    margin:1vh;
    padding:0;   
}

body {
    background-color: lightcoral;
}

.normal-image {
    width: 20vw;
    height: 20vh;
}

.output-image {
    width: 40vw;
    height: 40vh;
}

input[type='submit'] {
    margin-top: 2.5vh;
    background-color: brown;
    cursor: pointer;
    color: white;
    padding: 5px;
    border: none;
    text-decoration: none;
    border-radius: 10px;
    font-size: 1rem
}

input[type='file'] {
    color: brown;
    cursor: pointer;
    font-size: 1rem;
}
