<!DOCTYPE html>
<html lang='en'>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/style.css') }}" />
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Style Transfer</title>
    </head>
    <body>
        <div class='container'>
            <p class='message'>
                Nueral Style Transfer: Creating art with Deep Learning
            </p>
            <div class='upload-pane'>
                <form method="POST" action="{{ url_for('upload') }}" enctype=multipart/form-data>
                    <p class="message">Upload Content Image</p>
                    <input type="file" name="content">
                    <p class="message">Upload Style Image</p>
                    <input type="file" name="style">
                    <br/>
                <input type="submit" value="Upload">
                </form>
            </div>
        </div>
        <div class='footer'>
            <p>A project by Sarthak Batra</p>
        </div>
    </body>
</html>